* {
  font-family: 'Inter', sans-serif;
}
#footer{
  width: 100%;
}
#user-image {
  margin-top: 15%;
  margin-bottom: 5%;
}
.container-fluid{
  width: 80%;
}
p.text{
  margin-top: 5%;
  margin-bottom: 5%;
}
#fix {
  z-index: 1;
  background-color: bisque;
  position: relative;
  width: 10%;
}
#decor{
  width: auto;
}
.foot-image{
  display: inline-block;

}
body{
  background-color: whitesmoke ;
}
